body {
    background-color: #f4f6f8;
    font-family: Arial, sans-serif;
    padding: 40px;
}

.account-container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    text-align: center;
}

.account-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
    display: block;
    overflow-x: auto;
    white-space: nowrap
}

.account-table thead {
    background: linear-gradient(90deg, #00b894, #0984e3);
    color: white;
    font-size: 1.03rem;
    font-weight: 600;
    
}

.account-table th, .account-table td {
    padding: 12px;
    text-align: center;
    
}

.account-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}





button{
    background-color:grey;
}
.btn-edit, .btn-back {
    padding: 7px 18px;
    border: none;
    border-radius: 22px;
    font-size: 0.97rem;
    font-weight: 600;
    cursor: pointer;
    min-width: 95px;
    min-height: 35px;
    transition: background 0.18s, color 0.16s, box-shadow 0.17s, transform 0.13s;
    box-shadow: 0 1.5px 7px 0 rgba(0, 206, 209, 0.09);
}
.btn-back {
    background: linear-gradient(90deg, #ffe259 50%, #ffa751 100%);
    color: #2d3436;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-back:hover {
    filter: brightness(1.08);
    box-shadow: 0 5px 16px 0 rgba(255, 226, 89, 0.13);
    transform: translateY(-1px) scale(1.035);
}

.btn-edit:hover {
     background: linear-gradient(90deg, #6c63ff 60%, #00b894 100%);
    color: #fff;
}

.btn-logout {
    background-color: #d9534f;
}

.btn-logout:hover {
    background-color: #c9302c;
}
