<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/templates/Css/Login.css">
    <script src="/templates/Js/api-config.js"></script>
    <script src="/templates/Js/Login.js"></script>
    <script src="/templates/Js/Register.js"></script>

</head>

<body>

<div class="container" id="container">
    <div class="form-container sign-up">
        <form id="registerForm">
            <h1>Đăng ký</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>Sử dụng email hoặc số điện thoại</span>
            <input type="text" placeholder="Họ và tên" name="username" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Mật khẩu" name="password" required>
            <div class="otp-group">
                <input type="text" placeholder="Mã OTP" id="otpInput" maxlength="6" required >
                <button type="button" id="sendOtpButton">Gửi mã OTP</button>
            </div>
            <button type="button" id="registerButton" disabled>Đăng ký</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form id="loginForm">
            <h1>Đăng nhập</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>Hoặc sử dụng mật khẩu email của bạn</span>
            <input type="email" placeholder="Gmail" id="email" required>
            <input type="password" placeholder="Mật khẩu" id="password" required>
            <button type="button" id="loginButton">Đăng nhập</button>
        </form>
    </div>

    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Chào mừng trở lại!!</h1>
                <p>Nhập thông tin cá nhân của bạn để sử dụng tất cả các tính năng của phần mềm</p>
                <button class="hidden" id="login">Quay lại</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Chào bạn!</h1>
                <p>Đăng ký với thông tin cá nhân của bạn để sử dụng tất cả các tính năng của phần mềm</p>
                <button class="hidden" id="register">Đăng ký</button>
            </div>
        </div>
    </div>
</div>
<script>
    const container = document.getElementById('container');
    const registerBtn = document.getElementById('register');
    const loginBtn = document.getElementById('login');

    registerBtn.addEventListener('click', () => {
        container.classList.add("active");
    });

    loginBtn.addEventListener('click', () => {
        container.classList.remove("active");
    });

</script>
</body>
</html>
