<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>thống kê lương</title>
    <link rel="stylesheet" href="/templates/Css/PayrollAmount.css">
    <script src="/templates/Js/PayrollAmount.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="container">
    <h2>Thống kê lương</h2>
    <canvas id="payrollChart"></canvas>
    <button id="exportExcelBtn">Xuất Excel</button>
    <button id="backBtn">Quay lại</button>
</div>
</body>
</html>
